
<div class="card text-center">
    <div class="card-header">
      <h2>

      Bienvenidos a mi portafolio
    </h2>
    <h6>Kevin Johan Osorio Suaza</h6>
    </div>
    <div class="card-body">
      <h5 class="card-title">Front-end developer JavaScript</h5>
      <p class="card-text">"Los ordenadores se hacen cada vez más inteligentes. Los científicos dicen que pronto ellos serán capaces de hablarnos (y con 'ellos' me refiero a los ordenadores, dudo mucho que los científicos sean capaces de hablarnos)"
        -- Dave Barry </p>
      <a href="#" class="btn btn-light">Contactar</a>
    </div>
    <div>

      <div class="card-footer ">
        <p> Actualizado 21/01/2021</p>
      </div>
    </div>
  </div>